body{
    background: radial-gradient(circle, rgba(149,213,178,1) 0%, rgba(27,67,50,1) 100%);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.menu{
    margin-top: 40px; 
    /* margin-right: -390px; */
}
.menu a:hover{
    border-bottom: 5px solid #1B4332;
}
.menu a{
    text-transform: uppercase;
    color: #ffff;
    align-items: flex-end;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    padding-right: 50px; 
}
.api{
    margin-top: 20px;
}
.title{
    margin-top: 150px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.form{
    font-family: cursive;
}
.form input {
    border-radius: 120px;
    width: 250px;
    height: 40px;
    margin-right: 100px;
    display: block;
    margin-top: 10px;
}

body{
    background-color: #40916C; 
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.lupa{
    margin-left:280px;
    margin-top:-490px;
}

.image{
    margin-left: 510px;
    margin-top:-430px;
}
